h1 {
    padding: 0;
    margin: 0;
    text-align: center ;
	color:#000000;
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid #17469C;
    //border: 1px solid #ff0000;
    font-family: "Courier New", Courier, monospace;
}

.pcomments {
    background-color: #CBE7F2;
} 
.comments {
    background-color: #F0F0F0;

}

.warning{
    background-color: #F5BFC8;

}

#mVideo
    {
        float: left;
        padding-right: 150px;
    }

#homep {
    position:absolute;
    right:1000px;
    top: 10px;
    padding: 0;
    padding-top: 0;
    padding-bottom: 0;
}
#homep img{
    //border:1px solid #000000;
}

#homep img:hover{
    box-shadow: 1px 1px 0px #008888;
}

.container {
    width:900px;
    margin:-8px auto 0 auto;
    padding:0;
    margin-bottom: 20px;
    //border:1px dashed #000000;
    background-color:#ffffff;
    font-family: "Courier New", Courier, monospace;
}

.sections {
    width: 20%;
    border-bottom: 2px dashed #505050;
}